{% extends 'base.html' %} 


{% block title %}
Авторизация 
{% endblock %}


{% block body %}
<body style="background-image: url(https://i.pinimg.com/736x/49/31/ae/4931aec9dd74cbb597153718864b83ab--art-posters-jango-fett.jpg); background-size: 100%;">
    <div id = "d1">
    <form method="post" style="height: 100%; width: 100%;">
        <input type="text" name="token" placeholder="введите токен бота" id="it1"><br>
        <input type="submit" name="bot" id="bot"><br>
    </form>
    </div>
</body>
{% endblock %}